# メール送信先
TO_EMAIL=

# Gmail アカウントとアプリ パスワード
GMAIL_USER=
GMAIL_APP_PASSWORD=""
# ブラウザのアドレスバーに次のURLを入力して開きます。
# https://myaccount.google.com/apppasswords
# 2段階認証が有効なアカウントなら、ここで「アプリ パスワード」のページが開きます。
# 開いたら「アプリを選択」で「メール」などを選び、「生成」で16文字のパスワードを発行できます。
